.container {
    position: relative;
    border: 1px solid var(--border);
}

.container > div:first-child {
    width: 100%;
    height: auto;
} 

.container:focus {
    outline: none;
}

.container:hover {
    border-color: var(--border-hover);
}

.container:hover .image {
    filter: grayscale(100%);
}

.container .image img {
    width: 100%;
}
.container .info {
    padding: .5rem 1rem;
    text-align: center;
}
.container .info .title {
    margin: 0;
    margin-bottom: .5rem;
    font-family: 'Netflix Sans Bold';
    color: var(--tertiary-text);
}

.container .info .desc {
    margin: 0;
    font-family: 'Netflix Sans Light';
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}