.container {
    width: 95%;
    max-width: 1200px;
    margin: 3rem auto;
    padding: 1rem;
    overflow: hidden;
}

@media (max-width: 660px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}