.container {
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}

.container .menu {
    position: relative;
    box-shadow: 0 1px 2px 0 var(--border);
    background: var(--box);
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 0;
}

.container .menu .item:focus {
    outline: none;
}

.container .menu .item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.1875em 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    transition: color .15s ease-in;
    cursor: pointer;
    font-size: .8rem;
}

.container .menu .item.logo {
    color: var(--active-color);
    font-size: 1rem;
}

.container .menu .item svg.n {
    height: .95rem;
    width: .95rem;
    margin-right: .35em;
    transition: fill .15s ease-in;
    fill: var(--gray-color);
}

@media only screen and (max-width: 768px){
    .container .menu .item .only {
        display: none;
    }
    .container .menu {
        display: block;
        text-align: center;
    }
    .container .menu .item {
        display: none;
    }
    .container .menu .item.logo{
        display: block;
    }
}